:root {
    --primary: #164e63;
    --secondary: #00acc2;
    --dark: #1c1c20;
    --light: #00d7c7;
    --white: #ffffff;
    --themered: #f9004d;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
  }

*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
.intro{ /*Positioned the best image to be the background*/
    height: 100vh;
    width: 100%;
    background-image: url("assets/images/selfie\ cartoonish.jpg");
    background-size: cover;
    background-position: center;
}

#imagemiddle {
    border-radius: 50px;
    width: 100px;
    height: 100px;
    margin: 0 auto;


}

/*#imagemiddle:hover {
    animation: pulse 1s infinite;
    animation-timing-function: linear;   
  }*/

.navbar-brand {

    
}

p1{
    visibility: hidden;
    background-color: black;
}
.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
span{/*A little flavor on the words "Portfolio*/
    color: var(--themered);
}


.btn{
    background-color: var(--themered);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}
/*added radient hover effect*/
.btn:hover{
    transform: scale(1.1);
    background: #4285F4;
    color: #fff;
    border-radius: 30px;
    box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}

.content{
    position: absolute;
    top: 65%;
    left:8%;
    transform: translateY(-50%);
}
h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
}
h3{
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}
h4{
    color: #fcfc;
    letter-spacing: 2px;
    font-size: 20px;
}
.newslatter form{
    width: 380px;
    max-width: 100%;
    position: relative;
}
.newslatter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid var(--themered);
    outline: none;
    border-radius: 30px;
    cursor: pointer;
}
.newslatter form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color:var(--themered);
    color: white;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    top: 6px;
    right: 6px; 
}

.about{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}
.about img{
    height: auto;
    width: 430px;
}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    color: white;
    font-size: 50px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p{
    color: #03e9f4;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
/*button{
    background-color:var(--themered);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s; 
}
button:hover{
    color: black;
    transition: .4s;
    color: #fff;
    border-radius: 30px;
    box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}*/

.service{
    background: white;
    width: 100%;
    padding: 100px 0px;
}
.title h2{
    color: #f9004d;
    font-size: 75px;
    width: auto;
    margin: 30px auto;
    text-align: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

#cardOne {
    background-color: bisque;
    height: 100px;
    width: 100px;
    border-radius: 5px;
    animation: pulse 5s infinite;
}

.card{
    height: 35px;
    width: 335px;
    padding:0;
    background: #ffffff;
    border-radius: 20px;
    margin: 0;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: var(--themered);

}
h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}
.pins p{
    color: #03e9f4;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}
.card .button{
    background-color:var(--themered);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s; 
}

.contact-me{
    width: 100%;
    height: 290px;
    background: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.contact-me p{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}

footer{
    position: relative;
    width: 100%;
    height: 400px;
    background: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer p:nth-child(1){
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}
footer p:nth-child(2){
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}
.social{
    display: flex;
}
.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:  var(--themered);
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 50px;
}
.social a:hover{
    color: black;
    transition: .4s;
    background: #4285F4;
    color: #fff;
    border-radius: 30px;
    box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}
.end{
    position: absolute;
    color:var(--themered);
    bottom: 35px;
    font-size: 34px; 
}


/*Carousel Section*/

/*---------------------------Carousel 1---------------------------*/
#apps {
    text-align: center;
}

.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat scroll center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}

.carousel-item::before {
    content: "";
    display: block;
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:#000;
    opacity: 0.7;
}

/*---------------------------Carousel 1---------------------------*/

/*---------------------------Carousel 2---------------------------*/
/*---------------------------Carousel 2---------------------------*/
